body{
    margin: 0;
}
.nav_desktop, .nav_mobile{
    position: sticky;
    top: 0;
    background-color: black;
    z-index: 1;
}
.nav_mobile{display: none;}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav_bar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 95%;
    position: sticky;

}
.nav{
    
    float: right;
}
.nav:hover{
    background-color: red;
}

#dropdown{
    position: sticky;
    display: none;
    float: right;
    right: 5%;
    top: 45px;
    background-color: rgb(0, 0, 0);
    text-align: center;
    z-index: 1;
}
#dropdown_content{
    position: absolute;
    float: none;
    clear:both;
    display: block;
    content: "";
    background-color: black;
    right: 0;
}
#dropdown_content a{
    position: relative;
    top: 0;
    color: white;
    text-decoration: none;
    float: none;
    clear:both;
    display: block;
    content: "";
    padding: 10px 17px;
}
#dropdown_content a:focus{
    background-color: red;
}
.video {
    background-color: black;
    text-align: center;
    top: 45px;
    z-index: -1;
}
.video video{
    width: 70%;
    padding: 50px 0 0 0;
}

@media only screen and (max-width: 600px) {
    .nav_desktop{
        display: none;
    }
    .nav_mobile, .dropdown{
        display: block;
    }
}

