.content{
    background-color: rgb(58, 58, 58);
    width: auto;
    text-align: center;
}
.cont{
    background-color: white;
    margin: auto;
    width: 80%;
    letter-spacing: .05em;
    text-shadow: 4px 4px 0px #800404, 7px 7px 0px rgba(0, 0, 0, 0.946);
}
}

#contact{
    height: auto;
    padding-bottom: 20px;
}

.columnContact {
    float: left;
    width: 50%;
  }
.rowContact::after {
    content: "";
    display: table;
    clear: both;
}
.lab{
    font-size: large;
}
@media only screen and (max-width: 600px){
    .columnContact{
        float: left;
        width: 100%;
    }
}
