.content{
    background-color: rgb(185, 185, 185);
    width: auto;
    text-align: center;
}
.cont{
    background-color: white;
    margin: auto;
    width: 80%;
}
#cont_title{
    top: 5%;
    padding: 0%;
}
#contact{
    height: auto;
    padding-bottom: 20px;
}
*{
    box-sizing: border-box;
}
.column {
    float: left;
    width: 50%;
  }
.row::after {
    content: "";
    display: table;
    clear: both;
}
.lab{
    font-size: large;
}
@media only screen and (max-width: 600px){
    .column{
        float: left;
        width: 100%;
    }
}
