body{
    margin: 0;
    font-family: serif, sans-serif;
}

.nav_desktop, .nav_mobile{
    position: sticky;
    top: 0;
    background-color: black;
    z-index: 1;
}

.nav_mobile{display: none;}

li a {
    display: block;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 14px 16px;
    text-decoration: none;
}

.nav_bar{
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    width: 95%;
    position: sticky;
}

.nav{
    float: right;
}

.nav:hover{
    background-color: rgb(255, 149, 0);
}

#dropdown{
    position: sticky;
    display: none;
    float: right;
    right: 5%;
    top: 45px;
    background-color: rgb(0, 0, 0);
    text-align: center;
    z-index: 1;
}

#dropdown_content{
    position: absolute;
    float: none;
    clear:both;
    display: block;
    content: "";
    background-color: black;
    right: 0;
}

#dropdown_content a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    clear:both;
    display: block;
    content: "";
    padding: 10px 17px;
}

#dropdown_content a:focus{
    background-color: rgb(255, 149, 0);
}

#home_container{
    background-color: black;
    height: 60%;
    width: 100%;
    text-align: center;
}

.image {
    width: 80%;
    height: 50vw;
}

.arrow{
    height: 50px; 
    position: absolute; 
    top: 25vw;
    height: 4vw; 
}

@media only screen and (max-width: 600px) {
    .nav_desktop{
        display: none;
    }
    
    .nav_mobile, .dropdown{
        display: block;
    }

    .arrow{
        top: 35vw;
    }
}


