.columnInfoImg {
    float: left;
    width: 40%;
}

.columnInfoImg img{
    width: 25vw;
}

.columnInfoMes {
    float: left;
    width: 60%;
}

.rowInfo::after {
    content: "";
    display: table;
    clear: both;
}

*{
    box-sizing: border-box;
}

.backGro{
    padding: 10% 4%;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    background-color: rgb(255, 191, 138);
}

.mes{
    padding: 0 15%; 
    text-align: justify;
    font-size: 1.5vw;
}

.replace{
    display: none;
}

@media only screen and (max-width: 1000px){
    .mes{
      font-size: 2.25vw;
    }
}

@media only screen and (max-width: 600px){
    .columnInfoImg {
        float: left;
        width: 100%;
    }

    .columnInfoImg img{
        width: 40vw;
    }
    
    .columnInfoMes {
        float: left;
        width: 100%;
    }

    .mes{
        font-size: 4.5vw;
    }

    .replace{display: block;}

    .now{display: none;}
}
